body {
    background: #004DFF
  }
  
  .container {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-container {
    background-color: #fff;
    border-radius: 15px;
    padding: 40px;
    width: 600px;
  }